<div class="main-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <%= link_to 'ユーザー検索', '#', class: 'btn btn-block btn-black' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <%= link_to '掲示板', '#', class: 'btn btn-block btn-black' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <%= link_to 'チャット', chats_index_path, class: 'btn btn-block btn-black' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <%= link_to '足跡', '#', class: 'btn btn-block btn-black' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <%= link_to 'プロフィール編集', users_edit_path, class: 'btn btn-block btn-black' %>
      </div>
    </div>
  </div>
</div>